.bs-books{
  margin: 48px 0 ;
}
.bs-books__list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.bs-book{
  display: flex;
}

.bs-book__image{
  width: 170px;
  margin-right: 24px;
}


.bs-book__rating,
.bs-book__rewiews
{
  margin-right: 24px;
}
